extends layout

block content
  h1= title
  p template by jade (Pug)
  label Total: #{data.length}
  hr
  table
    thead
      tr
        th id
        th UserName
        th UserID
        th Passwd
        th Email
        th 
    each item in data
      tr
        td= item.id
        td= item.username
        td= item.userid
        td= Array(item.pwd.length + 1).join('*')
        td= item.email
        td 
          a(href="#", title="Edit").btn.btnEdit
            i(aria-hidden="true").fa.fa-pencil-square
          a(href="#", title="Delete").btn.btnDelete 
            i(aria-hidden="true").fa.fa-trash
